@using StatCoach.Models;
@using StatCoach.Business.Extensions;
@using StatCoach.Helpers;
@model TeamModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>

@if (Html.UserIsAuthorized(Model))
{
    @Html.ContentAction("Delete", "Ta bort", new {teamId = Model.Id })
    
}
else
{
    <b>Denna användare får <u>inte</u> ta bort detta laget</b>
}

@Html.ValidationSummary()